<!DOCTYPE HTML>
<html>
<head>
    <title>PORTFOLIO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Header -->
        <header id="header">
            <a href="" class="logo">Machine Learning Engineer</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="/">Projects</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/con">Contact</a></li>
                <li class="active"><a href="/about">About</a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/arizkhan/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/Yorker901" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <!-- About Section -->
            <section class="about">
                <h2>About</h2>
                <p>Let me introduce myself.</p>
                
                <!-- Profile Picture -->
                <p>
                <img src="static/images/IMG_1014.jpg" alt="Profile Picture" class="profile-pic" />Aspiring Data Scientist with a strong foundation in mathematics and 2 years of experience in data processing, predictive modeling, and hyperparameter tuning. Proficient in Python, SQL, machine learning, and deep learning techniques, including neural networks, large language models (LLMs), and time series forecasting. Skilled in developing end-to-end data-driven solutions and visual analytics dashboards.
                </p>
                
                <!-- Profile Details -->
                <h3>Profile</h3>
                <p>
                    I am a highly motivated and results-driven Machine Learning Engineer with over two years of hands-on experience in designing, building, and deploying machine learning models and data-driven solutions. My passion lies in leveraging artificial intelligence (AI) and data science to derive actionable insights, solve complex problems, and drive significant business outcomes. I am committed to pushing the boundaries of technology and continuously improving my expertise in various fields, from machine learning to advanced analytics.
Throughout my career, I have worked extensively with industry-leading tools, frameworks, and methodologies to deliver high-impact solutions. My skill set spans across the full machine learning pipeline, from data wrangling and preprocessing to feature engineering, model selection, and deployment. I bring a deep understanding of the complexities involved in developing scalable, efficient machine learning systems, and I’m proficient in turning raw data into meaningful insights that can inform critical business decisions.<br><br>
                    Key Expertise:
                    <ul>
                        <li>Building end-to-end machine learning systems for real-time data processing.</li>
                        <li>Developing models for predictive analytics, recommendation systems, and natural language processing (NLP).</li>
                        <li>Utilizing Python, SQL, TensorFlow, PyTorch, and large language models (LLMs) to solve real-world challenges.</li>
                        <li>Expertise in data visualization using Tableau and Power BI to present meaningful insights.</li>
                        <li>Hands-on experience in IBM Watsonx and Elasticsearch for advanced search and analytics applications.</li>
                    </ul>
                    With a constant drive for learning and innovation, I am committed to staying at the forefront of technology, enhancing my skills, and contributing to impactful projects. Let’s collaborate to bring data-driven solutions and cutting-edge AI to life.
                </p>

                <!-- Skills Section -->
                <h3>Skills</h3>
                <ul>
                    <li>Machine Learning: Regression, Classification, Clustering</li>
                    <li>Natural Language Processing: Text Processing, Sentiment Analysis, LLMs</li>
                    <li>Python: NumPy, Pandas, Scikit-Learn, Statsmodels, Matplotlib, Seaborn</li>
                    <li>Deep Learning: Neural Networks with TensorFlow, PyTorch</li>
                    <li>SQL: Query Writing, Data Analysis</li>
                    <li>Data Visualization: Dashboards with Tableau and Power BI</li>
                    <li>Elasticsearch & Kibana: Search and Analytics Solutions, RAG Systems</li>
                    <li>Cloud Computing: Azure</li>
                    <li>API Development: FastAPI for Model Deployment</li>
                </ul>

            </section>

            <!-- Resume Download Section -->
            <section class="resume-download">
                <!-- Resume Image -->
                <img src="static/images/thumb-1920-1050187.jpg" alt="Resume Preview" class="resume-image" />

                  <!-- Full Name -->
                  <p><strong>Full Name:</strong> Mohd Ariz Khan</p>

                  <!-- Birth Date -->
                  <p><strong>Birth Date:</strong> July 19, 1999</p>
  
                  <!-- Job -->
                  <p><strong>Job:</strong> Machine Learning Engineer, CostaCloud (since June 2023)</p>
        </div>


        

        <!-- Footer -->
        <footer id="footer">
            <section>
                <h3>Social</h3>
                <ul class="icons alt">
                    <li><a href="https://www.linkedin.com/in/arizkhan/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://github.com/Yorker901" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                </ul>
            </section>
        </footer>

        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; Ariz Khan</li></ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/jquery.scrollex.min.js"></script>
    <script src="static/assets/js/jquery.scrolly.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>

</body>
</html>
